.container-table {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 20px 45px -5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  padding: 2em;
}

.custom-table {
  border-collapse: collapse;
}

.title-1 {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.thead {
  border-bottom: "1px solid";
}
.th {
  padding: 1em;
}

.td {
  padding: 1em;
  color: blueviolet;
}

.tr {
  border-bottom: 1px solid grey;
}
